
body {
  height: 100vh;
  font-family: 'Oswald', sans-serif;
}
.h1 {
  text-align: center;
  color: black;
  font-size: 60px;
  margin-top: 60px;
  
}
.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:600;
  font-size:1.2em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}

.container {
  position: relative;
  background: #f1f1f1;
  width: 100%;
  height: 100vh;
}
.left-bg, .right-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: .25s ease;
}

.left-bg {
  background-color: yellow;
  left: 0;
  width: 90%;
}
.right-bg {
  background-color:#7DA2A9;
  background-position: right;
  right: 0;
  width: 10%;
}
.right-bg:before {
  content: ">>";
  font-weight: bold;
  position: absolute;
  background: white;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  top: 150px;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
}
.right-bg:after {
  content: " ";
  height: 280px;
  width: 1px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
}
.right-bg:after {
  right: 0;
}
.left-bg:hover {
  width: 90%;
}
.left-bg:hover + .right-bg {
  width: 10%;
}
.right-bg:hover {
  width: 25%;
}
.right-bg:hover + .left-bg {
  width: 25%;
}

.cooper {
  text-align: center;
  margin-top:220px;
}

.input-data-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
  background: yellow;
  border-radius:10px;
  height: 280px;
  width: 200px;
  padding: 40px;
  font-family: 'Oswald', sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  
}

// .input-data-form2 {
//   flex-wrap: wrap;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   color:white;
//   background: black;
//   border-radius:10px;
//   height: 280px;
//   width: 200px;
//   padding: 40px;
//   font-family: 'Oswald', sans-serif;
//   margin-left: auto;
//   margin-right: auto;
//   font-size: 50px;
//   display: inline-block;
  
// }
  

.button1 {
  font-family: 'Oswald', sans-serif;
  background-color:white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  border: 6px solid black;
}

.button1:hover {
  background-color: yellow;
  color: white;
}

.loginBtn {
  font-family: 'Oswald', sans-serif;
  background-color:black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  border: 6px solid white;
}

.loginBtn:hover {
  background-color: #4CAF50;
  color: white;
}

.inputform {
  border-radius: 10px;
  outline: none;
  border: none;
  width: 250px;
  height: 50px;
}